/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 1rem;
  height: 100%;
  background-color: #333;
}
header {
  background: url("../img/01.jpg") no-repeat center bottom;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
@media (max-width: 451px) {
  header {
    height: auto;
  }
}
header .content {
  background: #fff;
  display: inline-block;
  height: 80%;
  margin-left: 5%;
  margin-top: 0;
  position: relative;
  width: 34rem;
  padding: 1rem 1.5rem;
}
@media (max-width: 1024px) {
  header .content {
    background: rgba(255,255,255,0.8);
  }
}
@media (max-width: 768px) {
  header .content {
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
header .content:before {
  border-bottom: 3rem solid #fff;
  border-left: 17rem solid transparent;
  border-right: 17rem solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  bottom: -3rem;
  width: 0;
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  header .content:before {
    border-bottom-color: rgba(255,255,255,0.8);
  }
}
@media (max-width: 768px) {
  header .content:before {
    border: none;
  }
}
header h1 {
  font-family: Kanit, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8em;
  text-align: center;
  margin: 0;
  padding: 0.5rem 0;
}
@media (max-width: 451px) {
  header h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}
header h2 {
  font-size: 0.888888888888889rem;
  font-family: Arvo, serif;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  header h2 {
    margin: 0;
  }
}
@media (max-width: 451px) {
  header h2 {
    margin-bottom: 0.6rem;
  }
}
header .meta {
  width: 100%;
}
header .movie,
header .meta-item {
  text-transform: uppercase;
  font-size: 0.777777777777778rem;
  font-weight: 600;
  font-family: Kanit, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
header .movie {
  text-decoration: underline;
}
header .meta-item {
  display: inline-block;
  float: left;
}
@media (max-width: 768px) {
  header .meta-item {
    width: 50%;
  }
}
@media (max-width: 768px) {
  header .meta-item {
    width: 100%;
  }
}
header .meta-item span {
  text-transform: none;
  font-weight: 400;
  font-family: Arvo, serif;
}
header .intro {
  font-family: Arvo, serif;
  font-weight: 400;
  font-size: 0.777777777777778rem;
  columns: 2;
  -moz-columns: 2;
  -webkit-columns: 2;
  width: 100%;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  header .intro {
    margin: 0;
  }
}
@media (max-width: 500px) {
  header .intro {
    columns: 1;
    -moz-columns: 1;
    -webkit-columns: 1;
  }
}
header .intro p {
  margin-top: 0;
  padding-top: 0.5rem;
}
header .intro p .first-letter {
  font-size: 6rem;
  font-family: Kanit, sans-serif;
  font-weight: 900;
  float: left;
  line-height: 4rem;
  margin: 0;
  padding: 0 0.4rem 0.2rem;
  position: relative;
  top: 0.2rem;
}
.wrapper {
  max-width: 1600px;
  background-color: #fff;
}
.wrapper main {
  font-family: Arvo, serif;
  font-size: 0.888888888888889rem;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .wrapper main {
    width: 100%;
    padding: 0 2.5rem;
  }
}
@media (max-width: 451px) {
  .wrapper main {
    padding: 0 0.5rem;
  }
}
.wrapper main article {
  padding-top: 1rem;
}
.wrapper main article h3 {
  font-family: Kanit, sans-serif;
  font-weight: 600;
  text-indent: 1rem;
  margin-bottom: 0;
}
.wrapper main article p {
  text-indent: 1rem;
  margin: 0;
}
.wrapper main article h3 + p {
  text-indent: 2.5rem;
}
.wrapper main article blockquote {
  font-family: BenchNine, sans-serif;
  width: 60%;
  float: left;
  font-size: 3.555555555555555rem;
  text-transform: uppercase;
  line-height: 0.8em;
  margin-right: 2rem;
  margin-left: -5rem;
}
@media (max-width: 1024px) {
  .wrapper main article blockquote {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .wrapper main article blockquote {
    width: 100%;
    float: none;
  }
}
@media (max-width: 451px) {
  .wrapper main article blockquote {
    font-size: 1.777777777777778rem;
    padding-left: 2em;
  }
}
.wrapper main article blockquote:before {
  content: '\201c';
  margin-right: -1rem;
  position: relative;
  left: -1rem;
}
@media (max-width: 451px) {
  .wrapper main article blockquote:before {
    margin-right: -0.5rem;
    left: -0.5rem;
  }
}
.wrapper main article blockquote:after {
  content: '\201d';
}
.wrapper main footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 2rem 0;
}
@media (max-width: 1024px) {
  .wrapper main footer {
    align-items: center;
  }
}
.wrapper main footer .more {
  text-indent: 0;
}
.wrapper main footer .more p {
  margin: 0 0 1rem;
}
.wrapper main footer .more p:last-of-type {
  margin-bottom: 0.2rem;
}
@media (max-width: 450px) {
  .wrapper main footer .more p:last-of-type {
    margin-bottom: 1.2rem;
  }
}
.wrapper main footer .when {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0.8rem;
  width: 25rem;
  text-align: center;
}
@media (max-width: 450px) {
  .wrapper main footer .when {
    width: 100%;
  }
}
.wrapper main footer .author {
  font-style: italic;
}
.wrapper main footer .extra {
  background: #d9d9d9;
  text-align: justify;
  padding: 0 1.5rem;
  display: inline-block;
  position: relative;
  width: 25rem;
  height: 11rem;
}
@media (max-width: 450px) {
  .wrapper main footer .extra {
    width: 20rem;
    height: 12rem;
  }
}
.wrapper main footer .extra h4 {
  font-family: Kanit, sans-serif;
  text-align: right;
}
.wrapper main footer .extra:before {
  border-bottom: 2rem solid #d9d9d9;
  border-left: 15rem solid #fff;
  border-right: 0 solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
@media (max-width: 450px) {
  .wrapper main footer .extra:before {
    border-bottom: 1rem solid #d9d9d9;
    border-left: 8rem solid #fff;
  }
}
.wrapper main footer .extra:after {
  border-bottom: 2rem solid #d9d9d9;
  border-left: 15rem solid #fff;
  border-right: 0rem solid transparent;
  content: "";
  height: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  transform: rotate(180deg);
}
@media (max-width: 450px) {
  .wrapper main footer .extra:after {
    border-bottom: 1rem solid #d9d9d9;
    border-left: 8rem solid #fff;
  }
}
footer {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}
footer .colophon {
  width: 60%;
  text-align: right;
  text-transform: uppercase;
  font-family: BenchNine, sans-serif;
  font-size: 0.777777777777778rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}
@media (max-width: 1024px) {
  footer .colophon {
    padding: 0 2.5rem 1rem;
    width: 100%;
  }
}
img {
  max-width: 100%;
  margin: 1.5rem 0 0.5rem;
}
.overlay {
  background-color: rgba(0,0,0,0.6);
  display: none;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
.modal-container {
  align-items: center;
  display: none;
  justify-content: center;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.modal-container .modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #333;
  -moz-box-shadow: 3px 3px 5px #333;
  -webkit-box-shadow: 3px 3px 5px #333;
  display: flex;
  justify-content: center;
  left: 25%;
  min-height: 20%;
  position: fixed;
  top: 40%;
  width: 50%;
  z-index: 6;
}
.modal-container .modal p {
  align-self: center;
  margin: 0;
  text-align: center;
}
.modal-container .modal button.btn-close {
  background-color: #000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 0.15rem 0.55rem 0.25rem;
  position: absolute;
  right: -0.7rem;
  top: -0.8rem;
}
