@require '../normalize.styl/normalize.styl' 

$base_font_size = 18
$px = ( 1 / $base_font_size ) rem

*
	box-sizing border-box

html
body
	font-size 18*$px
	height 100%
	background-color #333
	
header
	background url('../img/01.jpg') no-repeat center bottom
	background-size cover
	-moz-background-size cover
	-webkit-background-size cover
	height 100%
	@media (max-width: 451px)
		height auto
	.content
		background rgba(255,255,255,1)
		display inline-block
		height 80%
		margin-left 5%
		margin-top 0 
		position relative
		width 34rem
		padding 1rem 1.5rem
		@media (max-width: 1024px)
			background rgba(255,255,255,.8)
		@media (max-width: 768px)
			width 100%
			margin 0
			height 100%
			display flex
			flex-direction column
			justify-content space-between
	.content:before  
		border-bottom 3rem solid rgba(255,255,255,1)
		border-left 17rem solid transparent
		border-right 17rem solid transparent
		content ""
		height 0
		left 0
		position absolute
		bottom -3rem
		width 0
		transform rotate(180deg)
		@media (max-width: 1024px)
			border-bottom-color rgba(255,255,255,.8)
		@media (max-width: 768px)
			border none
	h1
		font-family Kanit, sans-serif
		font-size 72*$px
		font-weight 900
		text-transform uppercase
		line-height .8em
		text-align center
		margin 0
		padding 0.5rem 0
		@media (max-width: 451px)
			font-size 36*$px
			margin 1rem 0
	h2
		font-size 16*$px
		font-family Arvo, serif
		font-weight 400
		text-align center
		@media (max-width: 768px)
			margin 0
		@media (max-width: 451px)
			margin-bottom .6rem
	.meta
		width 100%
	.movie
	.meta-item
		text-transform uppercase
		font-size 14*$px
		font-weight 600
		font-family Kanit, sans-serif
		margin 0 auto
		text-align center
		width 50%
	.movie
		text-decoration underline
	.meta-item
		display inline-block
		float left
		@media (max-width: 768px)
			width 50%
		@media (max-width: 768px)
			width 100%
	.meta-item span
		text-transform none
		font-weight 400
		font-family Arvo, serif
	.intro		
		font-family Arvo, serif
		font-weight 400
		font-size 14*$px
		columns 2
		-moz-columns 2
		-webkit-columns 2
		width 100%
		margin-top 2.5rem
		@media (max-width: 768px)
			margin 0
		@media (max-width: 500px)
			columns 1
			-moz-columns 1
			-webkit-columns 1
		p
			margin-top 0
			padding-top .5rem
			.first-letter
				font-size 6rem
				font-family Kanit, sans-serif
				font-weight 900
				float left
				line-height 4rem
				margin 0
				padding 0 .4rem .2rem
				position relative
				top .2rem

.wrapper
	max-width 1600px
	background-color #fff
	main
		font-family Arvo, serif
		font-size 16*$px
		width 50%
		margin 0 auto
		@media (max-width: 1024px)
			width 100%
			padding 0 2.5rem
		@media (max-width: 451px)
			padding 0 .5rem
		article
			padding-top 1rem
			
			h3
				font-family Kanit, sans-serif
				font-weight 600
				text-indent 1rem
				margin-bottom 0
			p 
				text-indent 1rem 
				margin 0
			h3 + p
				text-indent 2.5rem
			blockquote
				font-family BenchNine, sans-serif
				width 60%
				float left
				font-size 64*$px
				text-transform uppercase
				line-height .8em
				margin-right 2rem
				margin-left -5rem
				@media (max-width: 1024px)
					margin-left 0
				@media (max-width: 600px)
					width 100%
					float none
				@media (max-width: 451px)
					font-size 32*$px
					padding-left 2em
				&:before
					content '\201c'
					margin-right -1rem
					position relative
					left -1rem
					@media (max-width: 451px)
						margin-right -.5rem
						left -.5rem
				&:after
					content '\201d'
		footer
			display flex
			flex-direction column
			align-items flex-end
			width 100%
			padding 2rem 0
			@media (max-width: 1024px)
				align-items center
			.more
				text-indent 0 
				p
					margin 0 0 1rem
				p:last-of-type
					margin-bottom .2rem
					@media (max-width: 450px)
						margin-bottom 1.2rem
			.when
				background black
				color white
				text-transform uppercase
				padding 0 .8rem
				width 25rem
				text-align center
				@media (max-width: 450px)
					width 100%
			.author
				font-style italic
			.extra
				background #d9d9d9
				text-align justify
				padding 0 1.5rem
				
				display inline-block
				position relative
				width 25rem
				height 11rem
				@media (max-width: 450px)
					width 20rem
					height 12rem
				h4
					font-family Kanit, sans-serif
					text-align right
				&:before  
					border-bottom 2rem solid #d9d9d9
					border-left 15rem solid white
					border-right 0 solid transparent
					content ""
					height 0
					left 0
					position absolute
					top 0
					width 0
					@media (max-width: 450px)
						border-bottom 1rem solid #d9d9d9
						border-left 8rem solid white
					
				&:after  
					border-bottom 2rem solid #d9d9d9
					border-left 15rem solid white
					border-right 0rem solid transparent
					content ""
					height 0
					right 0
					position absolute
					bottom 0
					width 0
					transform rotate(180deg)
					@media (max-width: 450px)
						border-bottom 1rem solid #d9d9d9
						border-left 8rem solid white
footer
	background-color white
	width 100%
	margin 0 auto
	.colophon 
		width 60%
		text-align right
		text-transform uppercase
		font-family BenchNine, sans-serif
		font-size 14*$px
		margin 0 auto
		padding-bottom 1rem
		@media (max-width: 1024px)
			padding 0 2.5rem 1rem
			width 100%

img
	max-width 100%
	margin 1.5rem 0 .5rem
	

.overlay
	background-color rgba(0,0,0,.6)
	display none
	// display block
	left 0
	min-height 100%
	min-width 100%
	position fixed
	top 0
	z-index 5
	
.modal-container
	align-items center
	display none
	// display flex
	justify-content center
	min-height 100%
	position absolute
	top 0
	width 100%
	.modal
		background-color white
		border-radius 10px 
		box-shadow:         3px 3px 5px #333;
		-moz-box-shadow:    3px 3px 5px #333;
		-webkit-box-shadow: 3px 3px 5px #333;
		display flex
		justify-content center
		left 25%
		min-height 20%
		position fixed
		top 40%
		width 50%
		z-index 6
		p
			align-self center
			margin 0
			text-align center
		button.btn-close
			background-color black
			border none
			border-radius 50%
			color white
			display block
			font-size 1rem
			padding .15rem .55rem .25rem
			position absolute
			right -.7rem
			top -.8rem